/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  border-bottom: 1px solid #eee;
}

/* Company Name */
.company {
  font-size: 22px;
  font-weight: bold;
  color: #111827;
}

/* Toggle */
.toggle-container {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
}

.toggle-container button {
  padding: 10px 18px;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.toggle-container button:hover {
  background: #f3f4f6;
}

.toggle-container .active {
  background: #2563eb;
  color: white;
}

.wishlist {
  font-size: 20px;
  cursor: pointer;
}
.discount {
  background: red;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}

.features {
  margin-top: 8px;
  padding-left: 18px;
  font-size: 14px;
  color: #555;
}

.features li {
  margin-bottom: 3px;
}


/* GRID VIEW */
.grid-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

/* LIST VIEW */
.list-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.product-card {
  background: white;
  border-radius: 12px;
  border: 1px solid #eee;
  padding: 15px;
  transition: 0.3s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}


.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(29, 28, 28, 0.1);
}

/* grid view  */
.grid-view .product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* list view */
.list-view .product-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* list view image */
.list-view .product-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-info p {
  color: #6b7280;
  margin-bottom: 5px;
}


/* ---------- RESPONSIVE GRID ---------- */

/* tablet */
@media (max-width: 900px) {
  .grid-view {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* small tablet */
@media (max-width: 700px) {
  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media (max-width: 500px) {
  .grid-view {
    grid-template-columns: 1fr;
  }
}
